.favorite-button {
  position: absolute;
  top: -16px; /* 10px Adjust the top distance from the card */
  right: 10px; /* 10px Adjust the right distance from the card */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 35px;
  width: 40px;
  height: 40px;
  padding: 5px;
  z-index: 1;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.2);
}

.favorite-button i.fas {
  transition: transform 0.3s ease;
}

.favorite-button .white-book {
  color: white;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.2);
}

.favorite-button .green-book {
  color: #2fdd95;
  text-shadow: 1px 3px 3px rgba(0,0,0,0.2);
}
