<div class="background"></div>
    <div class="background-texture"></div>
    <h2 class="categories__title">Que Desafio Procuras?</h2>
    <section class="carousel">
      <div class="carousel__container">
        <div class="carousel-item">
          <a href="/aldeias" style="text-decoration: none;">
            <img
              class="carousel-item__img"
              src="https://jtm.com.mo/wp-content/uploads/2018/01/20180125-0502-01-580x400.jpg"
              alt="Aldeias"
            />
          </a>
          <div class="carousel-item__details">
            <h5 class="carousel-item__details--title"><a href="/aldeias" class="click-a-tag">Aldeias</a></h5>
          </div>
        </div>
        <div class="carousel-item">
          <a href="/museus" style="text-decoration: none;">
            <img
              class="carousel-item__img"
              src="https://i1.wp.com/www.mundolusiada.com.br/wp-content/uploads/2019/05/MosteiroBatalha_patrimonio.jpg?fit=940%2C564&ssl=1&is-pending-load=1"
              alt="Museus"
            />
          </a>
          <div class="carousel-item__details">
            <h5 class="carousel-item__details--title"><a href="/aldeias" class="click-a-tag">Museus</a></h5>
          </div>
        </div><div class="carousel-item">
          <a href="/lagoas" style="text-decoration: none;">
            <img
              class="carousel-item__img"
              src="https://media.iatiseguros.pt/wp-content/uploads/sites/2/2019/03/po%C3%A7o-azul-geres.jpg"
              alt="Lagoas"
            />
          </a>
          <div class="carousel-item__details">
            <h5 class="carousel-item__details--title"><a href="/aldeias" class="click-a-tag">Lagoas</a></h5>
          </div>
        </div><div class="carousel-item me-0">
          <a href="/trilhos" style="text-decoration: none;">
            <img
              class="carousel-item__img"
              src="https://www.vagamundos.pt/wp-content/uploads/2019/12/1-28-1.jpg"
              alt="Trilhos"
            />
          </a>
          <div class="carousel-item__details">
            <h5 class="carousel-item__details--title"><a href="/aldeias" class="click-a-tag">Trilhos</a></h5>
          </div>
        </div>
      </div>
    </section>
