<div class="container mt-5">
  <div class="home-cards">
    <a href="/museus" style="text-decoration: none;">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://orapois.blogfolha.uol.com.br/files/2020/04/Mosteiro-dos-Jero%CC%81nimos.png)">
        Museus
      </div>
    </a>
    <a href="/lagoas" style="text-decoration: none;">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.iatiseguros.pt/wp-content/uploads/sites/2/2019/03/po%C3%A7o-azul-geres.jpg)">
        Lagoas
      </div>
    </a>
    <a href="/trilhos" style="text-decoration: none;">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.vagamundos.pt/wp-content/uploads/2019/12/1-28-1.jpg)">
        Trilhos
      </div>
    </a>
    <a href="/aldeias" style="text-decoration: none;">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://jtm.com.mo/wp-content/uploads/2018/01/20180125-0502-01-580x400.jpg)">
        Aldeias
      </div>
    </a>
  </div>
</div>
