<div class="row">
  <div class="col-lg-8">
    <div class="container mt-5 ms-5">
      <div class="card-trip">
        <img src="https://source.unsplash.com/random" />
        <div class="card-trip-infos">
          <div>
            <h2 class="mb-2"><%= @place.name %></h2>
            <p><%= @place.description %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mt-5">
    <ul>
      <li>
        <p>Review 1</p>
        <p>Review 2</p>
        <p>Review 3</p>
        <p>Review 4</p>
      </li>
    </ul>
  </div>
</div>
