<div class="cards mt-5 ms-5 me-5">
  <% @places.each do |place| %>
    <div class="card mb-5">
        <img src="https://source.unsplash.com/random" alt="">
        <div class="card-content">
          <h2><%= place.name %></h2>
          <p><%= place.description %></p>
          <%= link_to 'Saiba mais ⇾', place, class: 'button' %>
      </div>
    </div>
  <% end %>
</div>
